.search {
  display: flex;
  background-color: darkgray;
  width: 100%;
  border: 1px solid black;
  border-radius: 2rem;

  height: 4rem;
  font-size: 2rem;
}
/* 
.searchIcon {
  background-color: lightgray;

  width: 40px;
  height: 100%;
  padding: 0.7rem 1.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
} */
.searchIcon i {
  font-size: 1.5rem;
}
.search input {
  width: 100%;
  border: none;
  border-radius: 2rem;
  padding: 0 1rem;
  background-color: inherit;
  outline: none;
  font-size: 1.1rem;
  height: 2rem;
}
