@import url('https://fonts.googleapis.com/css2?family=La+Belle+Aurore&family=Lobster&family=Merriweather:ital@1&family=Montserrat:ital@1&family=Rubik+Vinyl&display=swap');
.search {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: darkgray;
  width: 100%;
  border: 1px solid black;
  border-radius: 2rem;

  height: 6.4rem;
  font-size: 3.2rem;
  padding: 0rem 3.2rem;
}
/* 
.searchIcon {
  background-color: lightgray;

  width: 40px;
  height: 100%;
  padding: 0.7rem 1.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
} */
.searchIcon i {
  font-size: 2.4rem;
}
.search input {
  width: 100%;
  border-radius: 3.2rem;
  padding: 0 1.6rem;
  background-color: inherit;
  outline: none;
  font-size: 1.76rem;
  height: 3.2rem;
  border: none;
  font-family: 'Merriweather', serif;
}
