.header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #8884ff;
  border-radius: 10px;
  padding: 1.6rem 3.2rem;
  color: red;
  /* border-radius: 2rem; */
}
