@import url('https://fonts.googleapis.com/css2?family=La+Belle+Aurore&family=Lobster&family=Merriweather:ital@1&family=Montserrat:ital@1&family=Rubik+Vinyl&display=swap');

.container {
  box-sizing: border-box;
  width: 100vw;
  min-height: 100vh;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
}
.firstChild {
  position: fixed;
  width: 100vw;
  min-height: 100vh;
  background-color: rgba(37, 34, 34, 0.404);
  font-family: 'Montserrat', sans-serif;
}
.wrapper {
  width: 48rem;
  height: 48rem;
  border-radius: 30px;
  padding: 3.2rem;
  background-color: rgb(30, 29, 29);
  border: 1px solid white;
  position: relative;
  z-index: 1000;
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  gap: 3.2rem;
}
.wrapper form {
  display: flex;
  flex-direction: column;
  gap: 3.2rem;
  width: 100%;
  height: 100%;
}
.wrapper form textarea {
  width: 100%;

  resize: vertical;
  background-color: transparent;
  border: none;
  outline: none;
  resize: none;
  color: white;
  border-bottom: 1px solid white;

  overflow: auto;
  font-family: 'Montserrat', sans-serif;
}
.firstTextArea {
  height: 4.8rem;
  font-size: 2.56rem;
  font-family: 'Montserrat', sans-serif;
}
.secondTextArea {
  height: calc(100% - 4.8rem);
  font-size: 1.6rem;
  font-family: 'Montserrat', sans-serif;
}
.buttons {
  display: flex;
  justify-content: space-between;
}
@media (max-width: 500px) {
  .firstTextArea {
    font-size: 3rem;
  }
  .secondTextArea {
    font-size: 2.5rem;
  }
  .buttons button {
    font-size: 2rem;
  }
}
