.container {
  box-sizing: border-box;
  width: 100vw;
  min-height: 100vh;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
}
.firstChild {
  position: fixed;
  width: 100vw;
  min-height: 100vh;
  background-color: rgba(37, 34, 34, 0.404);
}
.wrapper {
  width: 48rem;
  height: 48rem;
  border-radius: 30px;
  padding: 3.2rem;
  background-color: rgb(30, 29, 29);
  border: 1px solid white;
  position: relative;
  z-index: 1000;
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  gap: 3.2rem;
}
.wrapper form {
  display: flex;
  flex-direction: column;
  gap: 3.2rem;
  width: 100%;
  height: 100%;
}
.wrapper form textarea {
  width: 100%;

  resize: vertical;
  background-color: transparent;
  border: none;
  outline: none;
  resize: none;
  color: white;
  border-bottom: 1px solid white;

  overflow: auto;
}
.firstTextArea {
  height: 4.8rem;
  font-size: 2.56rem;
}
.secondTextArea {
  height: calc(100% - 4.8rem);
  font-size: 1.6rem;
}
.buttons {
  display: flex;
  justify-content: space-between;
}
