@import url('https://fonts.googleapis.com/css2?family=La+Belle+Aurore&family=Lobster&family=Merriweather:ital@1&family=Montserrat:ital@1&family=Rubik+Vinyl&display=swap');

.wrapper {
  width: 28.8rem;
  height: 22.4rem;
  padding: 3.2rem 3.2rem 1.6rem 3.2rem;
  box-sizing: border-box;
  position: relative;
  background-color: #7f95d1;
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  /* box-shadow: 2px 2px 50px 1px white; */
}
.card {
  position: relative;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1.6rem;
}
.bottom {
  display: flex;
  position: relative;
  align-items: center;

  justify-content: space-between;
}

.title {
  width: 100%;
  overflow-wrap: anywhere;
  font-family: 'Merriweather', serif;
}
.description {
  width: 100%;
  overflow-wrap: anywhere;
  display: -webkit-box;
  overflow: hidden;
  position: relative;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  overflow: hidden;
  font-family: 'Merriweather', serif;
}
.date {
  font-weight: bold;
  top: 10%;
}
.buttons {
  display: flex;
  gap: 0.8rem;
}

@media (max-width: 500px) {
  .wrapper {
    width: 48rem !important;
    height: 43rem;
  }
  .wrapper svg {
    width: 4rem;
    height: 4rem;
  }
  .date {
    font-size: 2.4rem;
  }
  .title {
    font-size: 3rem;
  }
  .description {
    width: 100%;
    overflow-wrap: anywhere;
    display: -webkit-box;
    overflow: hidden;
    position: relative;
    font-size: 2.5rem;
    line-height: 4rem;
    -webkit-line-clamp: 7;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }
}
