.wrapper {
  width: 28.8rem;
  height: 22.4rem;
  padding: 3.2rem 3.2rem 1.6rem 3.2rem;
  box-sizing: border-box;
  position: relative;
  background-color: #7f95d1;
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.card {
  position: relative;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1.6rem;
}
.bottom {
  display: flex;
  position: relative;
  align-items: center;

  justify-content: space-between;
}

.title {
  width: 100%;
  overflow-wrap: anywhere;
}
.description {
  width: 100%;
  overflow-wrap: anywhere;
  display: -webkit-box;
  overflow: hidden;
  position: relative;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
.date {
  font-weight: bold;
  top: 10%;
}
.buttons {
  display: flex;
  gap: 0.8rem;
}
@media (max-width: 400px) {
  .wrapper {
    width: 40rem !important;
    height: 30rem;
  }
  .description {
    width: 100%;
    overflow-wrap: anywhere;
    display: -webkit-box;
    overflow: hidden;
    position: relative;
    -webkit-line-clamp: 7;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }
}
