.wrapper {
  width: 100%;
  min-height: 100vh;
  padding: 2.4rem 22.4rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 4.8rem;
  background-color: rgba(0, 0, 0, 0.909);
}
@media (max-width: 768px) {
  * {
    font-size: 50%;
  }
  .wrapper {
    padding: 2.4rem 15rem;
  }
}
@media (max-width: 500px) {
  * {
    font-size: 40%;
  }
  .wrapper {
    padding: 2.4rem 3rem;
  }
}
@media (max-width: 400px) {
  * {
    font-size: 40%;
  }
  .wrapper {
    padding: 2.4rem 2rem;
  }
}
