.wrapper {
  width: 100%;
  min-height: 100vh;
  padding: 1.5rem 14rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 3rem;
  background-color: rgba(0, 0, 0, 0.909);
}
